<a href="https://colab.research.google.com/github/Daivar/PANDAS-PP3/blob/main/%E2%80%9EPandas_Filtering_and_Sorting_ipynb%E2%80%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 2: Filtering and Sorting
### Step 1. Import the necessary libraries

In [21]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this address.
### Step 3. Assign it to a variable called euro12.

In [3]:
euro12 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv")
euro12

                   Team  Goals  ...  Subs off  Players Used
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
3               England      5  ...        11            16
4                France      3  ...        11            19
5               Germany     10  ...        15            17
6                Greece      5  ...        12            20
7                 Italy      6  ...        18            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
10             Portugal      6  ...        14            16
11  Republic of Ireland      1  ...        10            17
12               Russia      5  ...         7            16
13                Spain     12  ...        17            18
14               Sweden      5  ...         9            18
15              Ukraine      2  ...         9            18

[16 rows x 35 columns]

### Step 4. Select only the Goal column.

In [6]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

### Step 5. How many team participated in the Euro2012?

In [8]:
euro12['Team'].count()

16

### Step 6. What is the number of columns in the dataset?

In [9]:
len(euro12.columns)

35

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [12]:
discipline = pd.DataFrame(euro12, columns=['Team', 'Yellow Cards', 'Red Cards'])
discipline

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [16]:
discipline.sort_values(by=['Red Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [17]:
discipline.sort_values(by=['Yellow Cards'], ascending=False)

                   Team  Yellow Cards  Red Cards
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
6                Greece             9          1
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

### Step 9. Calculate the mean Yellow Cards given per Team

In [18]:
discipline['Yellow Cards'].mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [55]:
euro12[(euro12['Goals'] >= 6)]

        Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5    Germany     10               32  ...       15       15           17
7      Italy      6               34  ...       18       18           19
10  Portugal      6               22  ...       14       14           16
13     Spain     12               42  ...       17       17           18

[4 rows x 35 columns]

### Step 11. Select the teams that start with G

In [61]:
euro12[(euro12['Team'] >= 'G') & (euro12['Team'] <= 'H')]

      Team  Goals  Shots on target  ...  Subs on Subs off Players Used
5  Germany     10               32  ...       15       15           17
6   Greece      5                8  ...       12       12           20

[2 rows x 35 columns]

### Step 12. Select the first 7 columns

In [43]:
euro12.head(n=7)

             Team  Goals  Shots on target  ...  Subs on Subs off Players Used
0         Croatia      4               13  ...        9        9           16
1  Czech Republic      4               13  ...       11       11           19
2         Denmark      4               10  ...        7        7           15
3         England      5               11  ...       11       11           16
4          France      3               22  ...       11       11           19
5         Germany     10               32  ...       15       15           17
6          Greece      5                8  ...       12       12           20

[7 rows x 35 columns]

### Step 13. Select all columns except the last 3.

In [45]:
euro12.head(n=-3)

                   Team  Goals  ...  Subs off  Players Used
0               Croatia      4  ...         9            16
1        Czech Republic      4  ...        11            19
2               Denmark      4  ...         7            15
3               England      5  ...        11            16
4                France      3  ...        11            19
5               Germany     10  ...        15            17
6                Greece      5  ...        12            20
7                 Italy      6  ...        18            19
8           Netherlands      2  ...         7            15
9                Poland      2  ...         7            17
10             Portugal      6  ...        14            16
11  Republic of Ireland      1  ...        10            17
12               Russia      5  ...         7            16

[13 rows x 35 columns]

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [98]:
df = euro12[(euro12.Team == 'Italy') | (euro12.Team == 'England') | (euro12.Team == 'Russia')]
df

       Team  Goals  Shots on target  ...  Subs on Subs off Players Used
3   England      5               11  ...       11       11           16
7     Italy      6               34  ...       18       18           19
12   Russia      5                9  ...        7        7           16

[3 rows x 35 columns]

In [99]:
df.filter(items=['Team', 'Shooting Accuracy'])

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%