<a href="https://colab.research.google.com/github/Daivar/PANDAS-PP3/blob/main/%E2%80%9ESection_10_Deleting_ipynb%E2%80%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 10: Deleting
### Introduction:
##### This exercise is a adaptation from the UCI Wine dataset. The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [3]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this address.
### Step 3. Assign it to a variable called wine

In [4]:
wine = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")
wine.head

<bound method NDFrame.head of      1  14.23  1.71  2.43  15.6  127  ...   .28  2.29   5.64  1.04  3.92  1065
0    1  13.20  1.78  2.14  11.2  100  ...  0.26  1.28   4.38  1.05  3.40  1050
1    1  13.16  2.36  2.67  18.6  101  ...  0.30  2.81   5.68  1.03  3.17  1185
2    1  14.37  1.95  2.50  16.8  113  ...  0.24  2.18   7.80  0.86  3.45  1480
3    1  13.24  2.59  2.87  21.0  118  ...  0.39  1.82   4.32  1.04  2.93   735
4    1  14.20  1.76  2.45  15.2  112  ...  0.34  1.97   6.75  1.05  2.85  1450
..  ..    ...   ...   ...   ...  ...  ...   ...   ...    ...   ...   ...   ...
172  3  13.71  5.65  2.45  20.5   95  ...  0.52  1.06   7.70  0.64  1.74   740
173  3  13.40  3.91  2.48  23.0  102  ...  0.43  1.41   7.30  0.70  1.56   750
174  3  13.27  4.28  2.26  20.0  120  ...  0.43  1.35  10.20  0.59  1.56   835
175  3  13.17  2.59  2.37  20.0  120  ...  0.53  1.46   9.30  0.60  1.62   840
176  3  14.13  4.10  2.74  24.5   96  ...  0.56  1.35   9.20  0.61  1.60   560

[177 rows x 14 columns]>

In [5]:
wine.dtypes

1          int64
14.23    float64
1.71     float64
2.43     float64
15.6     float64
127        int64
2.8      float64
3.06     float64
.28      float64
2.29     float64
5.64     float64
1.04     float64
3.92     float64
1065       int64
dtype: object

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [6]:
wine.drop(wine.columns[[0,3,6,8,10,12,13]], axis=1, inplace=True)
wine.head(n=1)

   14.23  1.71  15.6  127  3.06  2.29  1.04
0   13.2  1.78  11.2  100  2.76  1.28  1.05

### Step 5. Assign the columns as below:

##### The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):
###### 1) alcohol
###### 2) malic_acid
###### 3) alcalinity_of_ash
###### 4) magnesium
###### 5) flavanoids
###### 6) proanthocyanins
###### 7) hue

In [7]:
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0    13.20        1.78               11.2  ...        2.76             1.28  1.05
1    13.16        2.36               18.6  ...        3.24             2.81  1.03
2    14.37        1.95               16.8  ...        3.49             2.18  0.86
3    13.24        2.59               21.0  ...        2.69             1.82  1.04
4    14.20        1.76               15.2  ...        3.39             1.97  1.05

[5 rows x 7 columns]

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [8]:
wine.iloc[0:3, 0] = np.nan
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0      NaN        1.78               11.2  ...        2.76             1.28  1.05
1      NaN        2.36               18.6  ...        3.24             2.81  1.03
2      NaN        1.95               16.8  ...        3.49             2.18  0.86
3    13.24        2.59               21.0  ...        2.69             1.82  1.04
4    14.20        1.76               15.2  ...        3.39             1.97  1.05

[5 rows x 7 columns]

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [9]:
wine.iloc[2:4, 3]  = np.nan
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0      NaN        1.78               11.2  ...        2.76             1.28  1.05
1      NaN        2.36               18.6  ...        3.24             2.81  1.03
2      NaN        1.95               16.8  ...        3.49             2.18  0.86
3    13.24        2.59               21.0  ...        2.69             1.82  1.04
4    14.20        1.76               15.2  ...        3.39             1.97  1.05

[5 rows x 7 columns]

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [10]:
wine.alcohol.fillna(10, inplace = True)
wine.magnesium.fillna(100, inplace = True)
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0    10.00        1.78               11.2  ...        2.76             1.28  1.05
1    10.00        2.36               18.6  ...        3.24             2.81  1.03
2    10.00        1.95               16.8  ...        3.49             2.18  0.86
3    13.24        2.59               21.0  ...        2.69             1.82  1.04
4    14.20        1.76               15.2  ...        3.39             1.97  1.05

[5 rows x 7 columns]

### Step 9. Count the number of missing values

In [11]:
wine.isnull().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

In [12]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10. Create an array of 10 random numbers up until 10

In [13]:
random = np.random.randint(10, size = 10)
random

array([2, 2, 6, 0, 5, 7, 5, 9, 8, 1])

### Step 11. Use random numbers you generated as an index and assign NaN value to each of cell.

In [14]:
wine.hue[random] = np.nan
wine.head(5)

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0    10.00        1.78               11.2  ...        2.76             1.28   NaN
1    10.00        2.36               18.6  ...        3.24             2.81   NaN
2    10.00        1.95               16.8  ...        3.49             2.18   NaN
3    13.24        2.59               21.0  ...        2.69             1.82  1.04
4    14.20        1.76               15.2  ...        3.39             1.97  1.05

[5 rows x 7 columns]

### Step 12. How many missing values do we have?

In [15]:
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  8
dtype: int64

### Step 13. Delete the rows that contain missing values

In [21]:
wine = wine.dropna(axis = 0, how = "any")
wine.head()

    alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
10    14.12        1.48               16.8  ...        2.43             1.57  1.17
11    13.75        1.73               16.0  ...        2.76             1.81  1.15
12    14.75        1.73               11.4  ...        3.69             2.81  1.25
13    14.38        1.87               12.0  ...        3.64             2.96  1.20
14    13.63        1.81               17.2  ...        2.91             1.46  1.28

[5 rows x 7 columns]

### Step 14. Print only the non-null values in alcohol

In [29]:
alco = wine.alcohol.notnull()
alco

10     True
11     True
12     True
13     True
14     True
       ...
172    True
173    True
174    True
175    True
176    True
Name: alcohol, Length: 167, dtype: bool

### Step 15. Reset the index, so it starts with 0 again

In [30]:
wine = wine.reset_index(drop = True)
wine.head()

   alcohol  malic_acid  alcalinity_of_ash  ...  flavanoids  proanthocyanins   hue
0    14.12        1.48               16.8  ...        2.43             1.57  1.17
1    13.75        1.73               16.0  ...        2.76             1.81  1.15
2    14.75        1.73               11.4  ...        3.69             2.81  1.25
3    14.38        1.87               12.0  ...        3.64             2.96  1.20
4    13.63        1.81               17.2  ...        2.91             1.46  1.28

[5 rows x 7 columns]